/* App Style */
#theme_body{
    background-image: url(../../images/bg.jpg);
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    display: grid;
    grid-template-columns: 2.2fr 3.8fr;
}

.container{
    width: 95%;
    margin: auto;
    border: var(--border);
}

.left_profile_info{
    padding: 40px 0 40px 40px;
}

#theme_body .right_side_site_content_wrapper{
    background-color: rgba(215, 223, 215, 0.281);
    padding: 40px 40px 40px 0px;
}

#theme_body .right_side_site_content_wrapper .right_side_site_contents{
    background-color: var(--white);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.425);
    height: 100%;
    display: flex;
}

.right_side_site_contents main{
    padding: 30px;
    flex: 1;
    height: calc(100vh - 80px);
    overflow-y: scroll;

}

.right_side_site_contents main::-webkit-scrollbar{
    width: 10px;
}

.right_side_site_contents main::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
.right_side_site_contents main::-webkit-scrollbar-thumb {
    background: var(--brand_color_light);
  }
  
.right_side_site_contents main::-webkit-scrollbar-thumb:hover {
    background: var(--brand_color_deep);
    border-radius: 25px;
  }

.right_side_site_contents nav{
    width: 80px;
}